/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utilities */
.container {
  max-width: 1440px;
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
  flex-direction: row;
}

.d-flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
}
/* Header */

#menu {
  background-color: #ff6800;
  height: 70px;
  width: 100%;
  color: white;
  ul {
    list-style: none;
    padding: 5px 10px;

    a{
        text-decoration: none;
        color: currentColor;
    }
  
  }
  .logo{
    padding: 10px;
    img{
        vertical-align: middle;
        width: 100%;
        height: 50px;
    }
}
.i{
   padding: 0 20px;
}
}
/* Main */

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 3rem -1rem;
    .col-4{
        width: calc(100% / 12 * 4);
        padding: 1rem;
.card{
    position: relative;
    .heart{
        position: absolute;
        top: 40px;
        right: 24px;
        background-color: white;
        transform: scale(4);
    }
}    
    }    
}

.card:hover{
    scale: 1.05;
}
/* Footer */

/* General */

body {
  font-size: 1rem;
  background-color: white;
}

img
{
    max-width: 100%;
}