/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Utilities */
.container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.d-flex-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 0 10px;
}
/* Header */

#menu {
  background-color: #ff6800;
  height: 70px;
  width: 100%;
  color: white;
  ul {
    list-style: none;
    padding: 5px 10px;

    a{
        text-decoration: none;
        color: currentColor;
    }
  
  }
  .logo{
    padding: 10px;
    img{
        vertical-align: middle;
        width: 100%;
        height: 50px;
    }
}
.i{
   padding: 0 20px;
}
}
/* Main */

/* Footer */

/* General */

body {
  font-size: 1rem;
  background-color: white;
}

img
{
    max-width: 100%;
}